*{font-size:18px; margin:0; padding:0}
html{background:none repeat scroll 0 0 #796459; color:#FFF}
body{background:none repeat scroll 0 0 #FAFAFA; border-top:1px solid #0F6D9A; color:#2E2E2E; font-family:"Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif; padding:0; text-align:center}
a, a:visited{color:#585858; font-weight:normal; text-decoration:none}
ol li{list-style:decimal inside none; padding:10px 0 10px 20px}
a:hover{color:#59C8EF}
h1 {font-size: 40px; text-align:left; padding:28px; font-family: 'Habibi', serif; font-weight:bold}

#container{margin:0 auto; width:900px; overflow:hidden; padding:0 0 28px; position:relative; text-align:left; box-shadow: 0px 0px 0px}
ul li{list-style:none; padding:10px 0; float:left; clear:both; background:#FAFAFA; border-bottom:3px solid #E0E6F8}
ul li.odd{background:white}
a.username, a.username:visited{width:155px; display:block; float:left; clear:left; color:#3299BB}
a.username:hover, a.username:active{color:#4FD1FF; text-decoration:underline}
.tweet_container{float:left}
.tweet_user_area{float:left; padding-left:5px;}
.tweet_user_pic{float:left; padding-top: 2px;}
.tweet_text_area{float:left; padding-left:10px; width:685px;}
.tweet_text{float:left;}
.tweet_created_at{clear:left; color:#9E9E9E;  float:left;  font-size:12px}

#sidebar { float: right; width: 280px; padding: 20px 20px 20px 15px; margin: 0px 0 0 0; background: white; font-size: 12px; border: 3px #E0E6F8 solid; text-align:left }
